# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Python package metadata
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Ignore model and large data directories
eeg_saved_models/
*.pkl
rf_model.pkl

# Uploaded user files
uploads/

# OS files
Thumbs.db
